browser.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>

<!ELEMENT browser (#PCDATA|link|session)*>
<!ATTLIST browser
  name  CDATA   #REQUIRED
>

<!ELEMENT session (#PCDATA)* >
<!ATTLIST session
  data    CDATA  #IMPLIED
>
<!ELEMENT link (#PCDATA)* >
<!ATTLIST link
  id    CDATA  #REQUIRED
  name    CDATA  #IMPLIED
  thumb	  CDATA  #IMPLIED
>
